@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
    --color-font: #0f9e7e;
    --color-font-p: #c3dad5;
    --color-menu: #83918d;
    --color-bg-header:#f9ffff;
    --color-bg-item1: #ddf2ed;
    --color-bg-item2: #c3e6df;

}

body {
    position: fixed;   /* creando una pagina sin scroll  */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-bg-header);
    padding: 15px 50px;
}

header .header-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header .header-menu .menu-list a:hover {
    text-decoration: underline;
    font-weight: bold;
}

header .header-menu .menu-list img {
    width: 30px;
    cursor: pointer;
}

header a {
    padding: 0 10px;
    text-decoration: none;
    color: var(--color-font);
    font-weight: 500;
}

header .user-login {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header .user-login a {
    padding: 10px 15px;
    margin: 0 15px;
    border: 1px solid var(--color-font-p);
    border-radius: 50px;
    font-size: 12px;
    font-weight: 700;
}

header .user-login a:hover {
    box-shadow: 0 0 5px 1px var(--color-font);
}

header .user-login img{
    width: 30px;
    cursor: pointer;
}

/* /////////////////////////////////////////////////////MAIN-CONTAINER///////////////////////////// */

.main-container {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.main-container h1 {
    color: var(--color-font);
    font-size: 50px;
    font-weight: 500;
}

.main-container p {
    position: relative;
    right: 115px;
    color: var(--color-menu);
    font-size: 14px;
}

.main-container .product-details {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: var(--color-bg-item1);
}

.main-container .product-details .product-title h2 {
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
}

.main-container .product-details .product-title .ranking-star img {
    width: 15px;
}

.main-container .product-details .product-image img {
    width: 200px;
    cursor: pointer;
}

.main-container .product-details .product-price {
    display: flex;
    align-items: flex-start;
}

.main-container .product-details .product-price img {
    position: relative;
    bottom: 5px;
}

.main-container .product-details .product-price strong {
    margin-left: 10px;
}

.main-container .product-details-buy {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: var(--color-bg-item2);
}

.main-container .product-details-buy .product-title h2 {
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
}

.main-container .product-details-buy .product-image img {
    width: 200px;
    cursor: pointer;
}

.main-container .product-details-buy .product-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-container .product-details-buy .product-title .ranking-star img {
    width: 15px;
}

.main-container .product-details-buy .product-title .color-selector .color-grey {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-image: linear-gradient(to right, #3f4040, #4a4d4c, #575b58, #656863, #76756e);    margin-bottom: 10px;
    cursor: pointer;
}

.main-container .product-details-buy .product-title .color-selector .color-yellow {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-image: linear-gradient(to right, #e5e301, #efe54d, #f6e775, #fbea99, #fceebc);    margin-bottom: 10px;
    cursor: pointer;
}

.main-container .product-details-buy .product-title .color-selector .color-white {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-image: linear-gradient(to right, #0083a6, #3295ba, #4ea7cf, #67bae4, #7fcdf9);
    cursor: pointer;
}


.main-container .product-details-buy .buy-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-container .product-details-buy .buy-section .product-price img {
    position: relative;
    top: 10px;
}

.main-container .product-details-buy .buy-section .product-price strong {
    margin-left: 10px;
}


.main-container .product-details-buy .buy-section button {
    padding: 10px 15px;
    background-color: var(--color-font);
    color: white;
    cursor: pointer;
    border-radius: 50px;
}

.main-container .product-details-buy .buy-section button:hover {
    box-shadow: 0 0 5px 1px var(--color-font);
}

/* ///////////////////////////////////////////////////////////FOOTER///////////////////////////////7 */

footer {
    height: 80px;
    background-color: var(--color-font);
}